.*.swp
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.log
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
config.h
*~
config.status
libtool
*.pc
stamp-*
